section {
  padding: 3rem 0;
}

.title {
  text-align: center;
  margin-bottom: 0.5rem;
}
.sub-title {
  text-align: center;
  margin-bottom: 2rem;
}

header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
/** banner-start **/
.banner .banner-image {
  width: 100%;
  height: 650px;
  object-fit: cover;
}
/** banner-end **/

/**introduction-start**/
.introduction .introduction-image {
  height: 350px;
  width: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.introduction .discription {
  margin-top: 40px;
}

.introduction .introduction-button {
  margin-left: 10px;
}

.introduction .introduction-image:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.introduction .image-area {
  overflow: hidden;
}

/**introduction-end**/

/**adventure-start**/

.adventure .adventure-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 0.4s;
}

.adventure .image-area {
  overflow: hidden;
}

.adventure .adventure-image:hover {
  transform: scale(1.1);
}

/**adventure-end**/

/**knowledge-start**/
.knowledge .knowledge-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.knowledge .image-area {
  overflow: hidden;
}

.knowledge .knowledge-image:hover {
  transform: scale(1.1);
}

/**knowledge-end**/

/**rating-start**/
.rating .card .rating-button {
  width: 100% !important;
}

.rating .card {
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
}

/**rating-end**/

/**community-start**/
.community {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
}

.community h4 {
  color: white;
}

.community h1 {
  color: aliceblue;
}

.community .card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.4s;
}

.community .image-area {
  overflow: hidden;
}

.community .card-image:hover {
  transform: scale(1.1);
}

/**community-end**/

/**chat-start**/
.chat .chat-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.chat .image-area {
  overflow: hidden;
  position: relative;
}
.chat .image-area:hover::before {
  opacity: 0.4;
}

.chat .image-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: silver;
  opacity: 0;
  transition: 0.4s;
}

/**chart-end**/

/**choose-start**/

.choose {
  background-color: #2f2f2f;
  padding-top: 30px;
  padding-bottom: 30px;
}

.choose h4 {
  color: aliceblue;
}
.choose h2 {
  color: white;
}

.choose .card {
  text-align: center;
}

.choose .card i {
  font-size: 50px;
}

.choose .card .card-text {
  font-weight: 600;
}
/**choose-end**/

.footer .footer-image {
  opacity: 0.4;
}
